.container-gallery {
    margin: 0 auto;
    width: 100%;
    margin-top: 5%;
}

.item-top-bar h1 {
    font-size: 1.2rem;
    padding: 11px;
    font-weight: 700;
    text-align: center;
    background-color: #0000003b;
    color: white;
    transition: 0.3s ease-in-out;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80vh;
    margin: auto;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.9s ease;

    position: relative;
    /* For positioning the content */
    overflow: hidden;
    /* Hide overflow */
}

.item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 59%);
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.item:hover::before {
    background-color: rgba(128, 128, 128, 0); 
}

.item:hover {
    cursor: pointer;
}

.item:not(.expanded):hover {
    flex: 6;
}

.application-inner-content {
    display: none;
    position: absolute;
    right: -100%;
    /* Start off-screen to the right */
    top: 50%;
    /* Center vertically */
    transform: translate(-30%, -70%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: right 0.5s ease, opacity 0.5s ease;
    /* Smooth animation for sliding in and fading */
    opacity: 0;
    /* Start invisible */
}

.item.expanded .application-inner-content {
    right: 0;
    /* Slide in */
    opacity: 1;
    /* Fade in */
    display: block;
    /* Ensure the content is visible */
}


/* .item-1 {
    background-image: url('https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80');
}

.item-2 {
    background-image: url('https://images.unsplash.com/photo-1492760864391-753aaae87234?auto=format&fit=crop&w=1336&q=80');
}

.item-3 {
    background-image: url('https://images.unsplash.com/photo-1503631285924-e1544dce8b28?auto=format&fit=crop&w=1234&q=80');
}

.item-4 {
    background-image: url('https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80');
}

.item-5 {
    background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80');
} */


.item-1 {
    background-image: url('../images/application-page/application-img-5.png');
}

.item-2 {
    background-image: url('../images/application-page/application-img-1.png');
}

.item-3 {
    background-image: url('../images/application-page/application-img-2.png');
}

.item-4 {
    background-image: url('../images/application-page/application-img-3.png');
}

.item-5 {
    background-image: url('../images/application-page/application-img-4.png');
}